<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Social Network{% endblock %}</title>
    <link href="{{ url_for('boot-static.static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('pweb-ui.static', filename='js/lib/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('boot-static.static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('pweb-ui.static', filename='js/pweb/pweb.js') }}"></script>
    {{- util.set_base_js()|safe }}
    {% block header%}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
      <script src="{{ url_for('boot-static.static', filename='js/fontawesome-all.min.js') }}"></script>
      <script src="{{ url_for('pweb-ui.static', filename='js/pweb/pweb.ajax.js') }}"></script>
      <script src="{{ url_for('pweb-ui.static', filename='js/pweb/pweb.message.box.js') }}"></script>
      <script src="{{ url_for('pweb-ui.static', filename='js/lib/bootstrap-form-validator.js') }}"></script>
     {% block base_js%}{% endblock %}
    <script>
        PWeb.messageBox.parseAndShowMessage({{- util.pweb_flashed_messages|safe }})
    </script>
</body>
</html>