<div class="col-lg-4 ps-lg-2">
    <div class="sticky-sidebar">

        <!--   Change Password -->
        <div class="card rounded-0 br-card mb-3">
            <div class="card-header">
                <div class="mb-0  ">Change Password</div>
            </div>
            <div class="card-body">
                <form class="needs-validation" method="post" action="{{ url_for("member_controller.change_password") }}" noValidate>
                    <div class="row">
                        {% form_input field=form.currentPassword, wrapper="mb-3 col-md-12" %}
                        {% form_input field=form.newPassword, wrapper="mb-3 col-md-12" %}
                        {% form_input field=form.confirmPassword, wrapper="mb-3 col-md-12" %}

                        <div class="col-12">
                            <button class="btn btn-primary d-block w-100" type="submit">
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>